# Python
*.py[cod]
__pycache__/
*.so

# Virtual environment
venv/
env/
.venv/

# Environment variables
.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# Django
*.log
db.sqlite3
media/

# OS
Thumbs.db
Desktop.ini
.DS_Store

# Distribution
dist/
build/
*.egg-info/
/.claude
